@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import './apps.css';
@import './users.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background: white;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0.5rem;
}